CONFIG_HW_COMPATIBILITY=y
CONFIG_SOCKET_CTRL_PATH="/tmp/sockinstctrl"
CONFIG_SOCKET_PROGRESS_PATH="/tmp/swupdateprog"
# CONFIG_MTD is not set
# CONFIG_LUA is not set
CONFIG_EXTRA_CFLAGS="-g"
CONFIG_WEBSERVER=y
CONFIG_MONGOOSESSL=y
CONFIG_ARCHIVE=y
CONFIG_BOOTLOADERHANDLER=y
CONFIG_RAW=y
CONFIG_SHELLSCRIPTHANDLER=y
